body{
    background: #ECECF3;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

#wrapper{
    width: 1100px;
    margin: 0 auto;
}
header{
    width: 100%;
    height: 120px;
    background-image: url(images/header.jpg);
    border-radius: 5px 5px 0 0;
    margin-bottom: 15px;
    /* /box-shadow: 0 0 15px rgba(0,0,0,0.3); */
}

nav{
    /*width: 100%;*/
    height: 50px;
    background: #f8f8f8;
    border: 1px solid #e7e7e7;
    margin-bottom: 15px;
}

main{
    padding-top: 1px;
    width: 100%;
    background: white;
    color: #333;
    padding-bottom: 1px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

main h2{
    text-align: center;
}

.divAut{
    padding: 15px;
}

.signOut{
    border: none;
    background: none;
}

.timeTable{
    margin: 0 auto;
    width: 95%;
    text-align: center;
    border: 1px solid #ddd;
    border-collapse: collapse;
    margin-bottom: 15px;
}

.empty{
    cursor: pointer;
}

th, td{
    border: 1px solid #ddd;
    padding: 10px;
}

.tdTable{
    position: relative;
}

.columDate{
    width: 15%;
}

.deleteTime{
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background:rgba(51,51,51,0.5);
}

.timeTable thead{
    font-weight: bold;
}

.modalwin { 
    width: 500px;
    background: white;
    top: 20%; /* отступ сверху */
    right: 0;
    left: 0;
    font-size: 14px; 
    margin: 0 auto;
    z-index:2; /* поверх всех */
    display: none;  /* сначала невидим */
    position: fixed; /* фиксированное позиционирование, окно стабильно при прокрутке */
    padding: 15px;
}
#shadow { 
    position: fixed;
    width:100%;
    height:100%;
    z-index:1; /* поверх всех  кроме окна*/
    background:#000;
    opacity: 0.5; /*прозрачность*/
    left:0;
    top:0;
}

.tableForm{
    display: table;
    margin: 0 auto;
}

.tableFormRow{
    display:table-row;
}

.tableFormCell{
    display:table-cell;
}

.tableFormCell:first-child{
    width: 100px;
    text-align: right;
    font-weight: bold;
}

.tableFormCell:nth-child(2){
    width: 100px;
    text-align: left;
    padding: 6px 12px;
}

.inputText{
    height: 30px;
    width: 300px;
    border: 1px solid #ddd;
    padding: 0 12px;
}

.textLeft{
    text-align: left;
    color: #333;
}

hr{
    border: none; /* Убираем границу для браузера Firefox */
    color: #ddd; /* Цвет линии для остальных браузеров */
    background-color: #ddd; /* Цвет линии для браузера Firefox и Opera */
    height: 1px; /* Толщина линии */
}

.btn{
    color: white;
    padding: 6px 12px;
    background: #337ab7;
    border: 1px solid #2e6da4;
    line-height: 1.4;
    font-size: 14px;
    cursor: pointer;
}

.btn:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(32, 77, 116);
    border-color: rgb(18, 43, 64);
}

.btn:active{
    color: rgb(255, 255, 255);
    background-color: rgb(40, 96, 144);
    border-color: rgb(32, 77, 116);
}





/*------------------------------------*\
	НАВИГАЦИЯ
\*------------------------------------*/
nav ul{
    padding: 0;
    margin: 0;
	float:left;
	list-style:none;
}

nav #authorization{
    float:right;
}

nav ul li{
	float:left;
	position:relative;
    display:block;
    border-right: 1px solid #e7e7e7;
}

nav ul li:last-child{
    border-right: none;
}

nav ul li a{
	display:block;
    padding: 15px;
    line-height: 20px;
	color: #777;
    text-decoration:none;
}
nav ul li a:hover{
	color:#555;
    background:#e7e7e7;
    text-decoration:none;
}

/*--- ВЫПАДАЮЩИЕ ПУНКТЫ ---*/
nav ul ul{
	list-style:none;
	position:absolute;
	left:-9999px; /* Скрываем за экраном, когда не нужно (данный метод лучше, чем display:none;) */
	opacity:0; /* Устанавливаем начальное состояние прозрачности */
	-webkit-transition:0.25s linear opacity; /* В Webkit выпадающие пункты будут проявляться */
}
nav ul ul li{
    padding-top:1px; /* Вводим отступ между li чтобы создать иллюзию разделенных пунктов меню */
    width: 120px;
	float:none;
}
nav ul ul a{
    padding-left: 30px;
	white-space:nowrap; /* Останавливаем перенос текста и создаем многострочный выпадающий пункт */
	display:block;
}
nav ul li:hover ul{ /* Выводим выпадающий пункт при наведении курсора */
	left:0; /* Приносим его обратно на экран, когда нужно */
	opacity:1; /* Делаем непрозрачным */
}
nav ul li:hover a{ /* Устанавливаем стили для верхнего уровня, когда выводится выпадающий список */
	background:#e7e7e7;
	text-decoration:none;
}
nav ul li:hover ul a{ /* Изменяем некоторые стили верхнего уровня при выводе выпадающего пункта */
	text-decoration:none;
	-webkit-transition:-webkit-transform 0.075s linear;
}
nav ul li:hover ul li a:hover{ /* Устанавливаем стили для выпадающих пунктов, когда курсор наводится на конкретный пункт */
	background:#333;
	background:rgba(51,51,51,0.75); /* Будет полупрозрачным */
    text-decoration:none;
    color: white;
	-moz-transform:scale(1.05);
	-webkit-transform:scale(1.05);
}

.editMenu{
    margin: 15px 15px 15px 27.5px ;
}

.changeBtn{
    margin-right: 15px;
}